/* Styles Généraux */
body {
    font-family: 'Montserrat', sans-serif;
    color:#5b5b5b;
    background-color:#f7f7f7;
}
h1, h2, h3 {
    font-family: 'Merriweather', serif;
    color:#3a3939;
}
h1 {
    font-weight: 700;
    color:#f7f7f7;
}
h2, h3 {
    font-weight:400;
}
a, a:visited {
    text-decoration: none;
    color:#a74ac7;
}
a:focus, a:active {
    color:rgb(253, 0, 169);
}
a:hover {
    text-decoration:underline;
}
ul li {
    list-style-type: none;
}
/* Header */
header {
    background-color:#a74ac7; 
    padding:10px;
    position:sticky;
    top:0;
}

header a,header a:visited, header a:focus, header a:hover, header a:active {
    color:#f7f7f7;
    font-weight:bold;
    font-size:20px;
}
header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
header li {
    margin:5px;
}
header ul {
    display:flex;
}


/* Contenu */
/* Footer */
footer {
    background-color:#c6c6c6;
}
