/* Styles Généraux */
body {
    font-family: 'Montserrat', sans-serif;
    color:#5b5b5b;
    background-color:#f7f7f7;
     margin:auto;
}
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}
h2, h3 {
    color:#a74ac7;
}
h1 {
    font-weight: 700;
    color:#f7f7f7;
    }
h2, h3 {
    font-weight:400;
}
a, a:visited {
    text-decoration: none;
    color:#a74ac7;
}
a:focus, a:active {
    color:rgb(253, 0, 169);
}
a:hover {
    text-decoration:underline;
}
ul li {
    list-style-type: none;
}
aside li {
    list-style-type:circle;
}
/* Header */
.header-link, .header-link:visited, .header-link:focus, .header-link:hover, .header-link:active {
    color:#f7f7f7;
    font-weight:bold;
}
header {
        background-color:#a74ac7; 
        padding:10px;
        display:flex;
        flex-direction:column;
        align-items:center;
}
header li {
    margin:10px;
}
header ul {
    display:flex;
}


/* Contenu */
main aside {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
aside img {
    max-width:200px;
}
figcaption {
    text-align: center;
}
article {
    padding:15px;
}
section p {
    text-align: justify;
}
#mes_atouts p {
    text-align:left;
}
section li {
    text-align:left;
    list-style-type:circle;
}
#liste_atouts section {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin:5px;
  }
  .icon {
     display: inline-block;
     max-width:30px;
    margin-right: 5px;
  }
/* Footer */
footer {
    background-color:#c6c6c6;
    padding:10px;
}
footer nav, footer div {
    margin:10px;
    text-align:center;
}
footer img {
    max-width:25px;
    vertical-align: middle;
}
footer h2 {
    color:#3a3939;
}

/*responsive design */
@media only screen and (min-width:900px) {
    /* ajustements tailles */
    body {
        font-size:16px;
    }
    h1 {
        font-size:30px;
    }
    header a {
        font-size:20px;
    }
       
    footer h2 {
        font-size:16px;
    }
    /* disposition */
    header {
            background-color:#a74ac7; 
            padding:10px;
            display:flex;
            flex-direction:row;
            align-items: center;
            position:sticky;
            top:0; 
            justify-content:space-between;
    }
    #intro {
    display:flex;
    }
    #intro article {
    align-self:center;
    }
    #experiences {
    display:flex;
    }
    #experiences article {
    margin:10px;
    flex:2;
    }
    #experiences aside {
        flex:1;
    }
    footer {
        display:flex;
        justify-content:space-between;
    }
    footer nav ul {
        display:flex;
    }
    footer nav li {
        margin:10px;
    }
    #mes_atouts {
        padding:5px;
    }
    #liste_atouts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
}   
